<div class="modal-header">
    <h5 class="modal-title">Set string</h5>
    <fa-icon [icon]="faWindowClose" class="float-right" (click)="closeModal('dismiss')"></fa-icon>
</div>
<div class="modal-body">
    <label for="typeahead-basic">Type string:</label>
    <input id="typeahead-basic" type="text" class="form-control" placeholder="Please type" [(ngModel)]="strSelected" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('cancel')">Close</button>
    <button type="button" class="btn btn-primary" (click)="closeModal('save')">Save changes</button>
</div>
