body {
    overflow-x: hidden;
}

.infocolor {
    background-color: #17a2b8;
}
#toggled-sidebar {
    min-height: 100vh;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.5rem;
}

.sidebar-heading {
    margin-top: -3px;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.group-menu::after {
    content: '+';
    right: 5px;
    position: absolute;
    font-weight: bold;
}

.group-menu[aria-expanded='true']::after {
    content: '-';
}

.subitem:hover {
    text-decoration: underline;
}

.vline {
    padding-top: 16px;
    background-color: #f8f9fa;
    border-right: 1px solid;
    border-right-color: lightgrey;
}
