<div role="main">
    <div class="d-flex" id="wrapper" [ngClass]="toggleStatus ? 'toggled' : ''">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper"
            *ngIf="toggleStatus === false; else showRightOpenSign">
            <a (click)="onToggle($event)" style="cursor:pointer;float:right;padding-top: 17px;">
                <fa-icon class="fa-lg" [icon]="faAngleDoubleLeft"></fa-icon>
            </a>
            <div class="sidebar-heading">ACTA <span style="font-size: 10px;">(20200611)</span></div>
            <!-- Accordion start -->
            <div class="list-group list-group-flush">
                <!--a href="#collapse1" class="btn btn-link list-group-item list-group-item-action bg-light group-menu"
          data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse1">
          <fa-icon [icon]="faFile"></fa-icon> File
        </a>
                <div class="card collapse" id="collapse1">
                    <div class="card-body">
                        <div *ngFor="let fileElement of menuFile">
                            <div class="btn btn-link list-group-item list-group-item-action subitem"
                                (click)="onFileElementClick($event, fileElement)">
                                <span
                                    *ngIf="fileElement === selectedMenuElement; else isNotBold"
                                    class="text-primary font-weight-bold">{{fileElement}}</span>
                                <ng-template #isNotBold>{{fileElement}}
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div-->

                <a href="#collapse2"
                    class="btn btn-link list-group-item list-group-item-action bg-light group-menu show"
                    data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse2">
                    <fa-icon [icon]="faCubes"></fa-icon> Building blocks
                </a>
                <div class="card collapse show" id="collapse2">
                    <!--div class="card-body"-->
                    <div class="">
                        <div *ngFor="let bbElement of menuBB">
                            <div class="btn btn-link list-group-item list-group-item-action subitem"
                                (click)="onBBElementClick($event, bbElement)"
                                [ngStyle]="{'text-decoration':bbElement === selectedMenuElement ? 'none' : '' }">
                                <span
                                    *ngIf="bbElement === selectedMenuElement; else isNotBold"
                                    class="text-info font-weight-bold">{{bbElement}}</span>
                                <ng-template #isNotBold>{{bbElement}}
                                </ng-template>
                            </div>
                            <div
                                *ngIf="searchMenuElements.includes(selectedMenuElement) && bbElement === selectedMenuElement && bbElement === 'Strings'">
                                <app-stword-sidebar></app-stword-sidebar>
                            </div>
                            <div
                                *ngIf="searchMenuElements.includes(selectedMenuElement) && bbElement === selectedMenuElement && bbElement === 'Snippets'">
                                <app-snippet-sidebar></app-snippet-sidebar>
                            </div>
                            <div
                                *ngIf="searchMenuElements.includes(selectedMenuElement) && bbElement === selectedMenuElement && bbElement === 'Variables'">
                                <app-variable-sidebar></app-variable-sidebar>
                            </div>
                            <div
                                *ngIf="searchMenuElements.includes(selectedMenuElement) && bbElement === selectedMenuElement && bbElement === 'References'">
                                <app-lsp-sidebar></app-lsp-sidebar>
                            </div>
                        </div>
                    </div>
                </div>

                <!--a href="#collapse3" class="btn btn-link list-group-item list-group-item-action bg-light group-menu"
                    data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse3">
                    <fa-icon [icon]="faFile"></fa-icon> Test menu
                </a>
                <div class="card collapse" id="collapse3">
                    <div class="card-body">
                        <div>
                            <div
                                class="btn btn-link list-group-item list-group-item-action subitem">
                                <span class="text-primary font-weight-bold"
                                    (click)="openForm()">Test strings</span>
                                <div #myForm class="form-popup" id="myForm">

                                    <app-stword-sidebar [closeButton]="true"
                                        (messageToEmit)="getStwordMessage($event)">
                                    </app-stword-sidebar>

                                </div>

                            </div>
                        </div>
                    </div>
                </div-->

            </div>
            <!-- Accordion end -->
        </div>
        <ng-template #showRightOpenSign>
            <div id="toggled-sidebar"
                style="padding-top: 16px;background-color: #f8f9fa;border-right: 1px solid;border-right-color: lightgrey;">
                <a (click)="onToggle($event)" style="cursor:pointer;padding-top: 17px;">
                    <fa-icon class="fa-lg" [icon]="faAngleDoubleRight"></fa-icon>
                </a><span></span>
            </div>
        </ng-template>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav
                class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!--button class="btn btn-info" id="menu-toggle"
                    (click)="onToggle($event)">
                    <span *ngIf="toggleStatus === false; else hideMenu">
                        <fa-icon [icon]="faAngleDoubleLeft"></fa-icon> Hide Menu
                    </span>
                    <ng-template #hideMenu>
                        <fa-icon [icon]="faAngleDoubleRight"></fa-icon> Show
                        Menu
                    </ng-template>
                </button-->

                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="loadData('document')">
                                Open document<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="loadData('template')">
                                Open template <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="loadData('empty')">
                                Open blank document <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <!--li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li-->
                    </ul>
                </div>
                <div class="p-1 mb-0 text-dark" *ngIf="documentInfoMetadata">
                    {{documentInfoMetadata}}</div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn text-white"
                        [ngClass]="{'infocolor active': docLanguage === 'en', 'btn-secondary': docLanguage !== 'en'}">
                        <input type="radio" [(ngModel)]="docLanguage" value="en"
                            (click)="setDocumentLanguage('en')"> EN
                    </label>
                    <label class="btn text-white"
                        [ngClass]="{'infocolor active': docLanguage === 'de', 'btn-secondary': docLanguage !== 'de'}">
                        <input type="radio" [(ngModel)]="docLanguage" value="de"
                            (click)="setDocumentLanguage('de')"> DE
                    </label>
                </div>
                <!--select class="form-control mr-1" style="width:auto;" [(ngModel)]="docLanguage"
                    (change)="setDocumentLanguage()">
                    <option value="en" selected>EN</option>
                    <option value="de">DE</option>
                </select-->
            </nav>

            <div class="container-fluid">
                <app-multiroot-editor></app-multiroot-editor>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>