.header {
  border: 1px solid #A9A9A9;
  padding-top: 0px;
  padding-left: 8px;
  height: 95px;
}

.maincontent {
  border: 1px solid #A9A9A9;
  padding-top: 0px;
  padding-left: 8px;
  height: 100%;
  overflow: auto;
}

.footer {
  border: 1px solid #A9A9A9;
  padding-top: 0px;
  padding-left: 8px;
  height: 95px;
}

.paddingbottom {
  padding-bottom: 10px;
}

.maincontentparent {
  height: 100%;
}
