<div class="row">
    <div class="col-12">
        <div class="paddingbottom">
            <button type="button" class="btn btn-secondary"
                *ngIf="showHeaderFooter === false; else hideHeaderFooter"
                (click)="onHeaderFooter($event)">Show header / footer</button>
            <ng-template #hideHeaderFooter><button type="button"
                    class="btn btn-secondary mr-1"
                    (click)="onHeaderFooter($event)">Hide header
                    / footer</button></ng-template>
            <button type="button" class="btn btn-info mr-1"
                (click)="showDiff('word')">Diff by word (header/footer)</button>
            <button type="button" class="btn btn-info mr-1"
                (click)="showDiff('efficiency')">Diff with efficiency
                (header/footer)</button>
            <button type="button" class="btn btn-info mr-1"
                (click)="mergeHeaderAndFooter()">Merge (header/footer)</button>
        </div>
        <div #toolbar id="toolbar"></div>
        <div class="paddingbottom"></div>

        <div class="header" #header id="header"
            [hidden]="showHeaderFooter === false" [contextMenu]="basicMenu">
        </div>
        <div class="paddingbottom"></div>
        <div class="maincontentparent" [style.height.px]="contentParentHeight">
            <div #content id="content" class="maincontent"
                [contextMenu]="basicMenu">
            </div>
        </div>
        <div #tooltip id="tooltip" role="tooltip">
            My tooltip
            <ngb-datepicker #d></ngb-datepicker>
            <div id="arrow" data-popper-arrow></div>
        </div>
        <div class="paddingbottom"></div>

        <div class="footer" #footer id="footer"
            [hidden]="showHeaderFooter === false" [contextMenu]="basicMenu">
        </div>
        <div class="paddingbottom"></div>
    </div>

</div>
<context-menu #basicMenu>
    <!--ng-template contextMenuItem (execute)="onContextMenuDelete($event)">
        <a href="#" class="list-group-item list-group-item-action">Delete</a>
    </ng-template-->
    <ng-template contextMenuItem let-item
        (execute)="onContextMenuResolve($event)">
        <a href="#" class="list-group-item list-group-item-action">Resolve</a>
    </ng-template>
    <ng-template contextMenuItem let-item *ngIf="hasMakeAllText()"
        (execute)="makeAllText()">
        <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'isLinkDisabled':hasMakeAllText() === false}">Unlock all</a>
    </ng-template>
    <ng-template contextMenuItem let-item *ngIf="hasMakeTextNoVars()"
        (execute)="makeTextWithVariables()">
        <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'isLinkDisabled':hasMakeTextNoVars() === false}">Unlock</a>
    </ng-template>
    <!--ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem let-item
        (execute)="showMessage($event.item + ' said: ' + $event.item)">
        <a href="#" class="list-group-item list-group-item-action">Other</a>
    </ng-template-->
    <!--
    <ng-template contextMenuItem [subMenu]="mySubMenu">
        <a href="#" class="list-group-item list-group-item-action">Add .... <span style="float:right">> </span></a>
    </ng-template>
    <context-menu #mySubMenu>
        <ng-template contextMenuItem let-item
            (execute)="showMessage($event.item + ' said: ' + $event.item)">
            <a href="#" class="list-group-item list-group-item-action">Free text</a>
        </ng-template>
        <ng-template contextMenuItem let-item
            (execute)="showMessage($event.item + ' said: ' + $event.item)">
            <a href="#" class="list-group-item list-group-item-action">Empty string</a>
        </ng-template>
    </context-menu>
    -->
    <!-- <ng-template contextMenuItem passive="true">
    Input something: <input type="text">
  </ng-template> -->
</context-menu>