<div>
	<div class="form-group">
		<label for="seltype">Select component type for drag/drop</label>
		<select class="form-control" id="seltype">
			<option>standard word</option>
		</select>
		<input [(ngModel)]="searchText" class="form-control" id="inputsearch" type="text"
			(keypress)="onKeyPress($event)" placeholder="Search.." />
	</div>
	<div class="list-group listscroll" *ngIf="(stwords | filter: searchText).length > 0; else noResults">
		<div class="list-group-item list-group-item-action list-group-item-light" draggable="true"
			(dragstart)="drag($event, 'span')" *ngFor="let stword of stwords | filter: searchText; let i = index">
			<span class="standardword"   [attr.data-id]="stword.dataid">{{stword.datacontent}}</span>
		</div>
		
	</div>
	<ng-template #noResults>
		<p>No results found for "{{searchText}}".</p>
	</ng-template>
</div>